compile
depcomp
install-sh
ltmain.sh
*.o
.deps
*.lo
*.la
*.a
m4/
missing
config.guess
config.h
config.h.in*
config.log
config.mk
config.rpath
config.status
config.sub
libtool
po/*.gmo
po/*.mo
po/stamp-it
autom4te.cache

asunder/asunder
gcolor/gcolor
lxcolor/lxcolor
lxinput/lxinput
gmrun/gmrun
gdmap/gdmap
isomaster/isomaster
lxrandr/lxrandr
lxtask/lxtask
lxterminal/lxterminal
ssh-gui/ssh-gui
gpptp/gpptp

gpicview/gpicview


config.sh
