[Desktop Entry]
Name=LXTerminal
GenericName=Terminal
Comment=Use the command line
TryExec=lxterminal
Exec=lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;System;TerminalEmulator;
Keywords=console;command line;execute;
